*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
   border-bottom: 1px solid black;
   height: 5rem;
}
#logo,a{
    font-family: "Poppins", sans-serif;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.container{
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    max-width: 1350px;
    margin-left:auto;
    margin-right: auto;
}
.container ul{
    list-style: none;
}
.navlink{
    text-decoration: none;
    color: rgb(95, 89, 89);
    font-size: 15px;
    font-weight: 300;
}
#logo{
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}
.headericons{
    text-decoration: none;
    color: black;
}
#icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
#section1{
    text-align: center;
    background-color: whitesmoke;
    padding: 4rem 0;
}
#section1 h1{
    font-size: 3rem;
}
h2,
.h2 {
    font-size: 2.488rem;
}

h3,
.h3 {
    font-size: 2.074rem;
}

h4,
.h4 {
    font-size: 1.728rem;
}

h5,
.h5 {
    font-size: 1.44rem;
}

h6,
.h6 {
    font-size: 1.2rem;
}

p,
.p {
    font-size: 1rem;
    color: rgb(79, 79, 79);
    line-height: 164%;
}

#section1 p{
    line-height: 160%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.mainlink{
    background-color: green;
    color: white;
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
}
#section2 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}
#images img{
    width: 100%;
    height: 100%;
}
#img1{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#img2{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#img3{
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#img4{
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#mainimg{
    grid-row-start: 1;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
}
.simg{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.simg img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border: none;
}
.buttonprimary{
    background-color: red;
    color: white;
}
.buttonsecondary{
    background-color: white;
    color: black;
    width: 100%;
    border: 1px solid black;
}
.buttonholder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 1rem;
}
.price {
    display: inline-block;
    color: gray;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 0.5rem;
}
#section2 .h2{
    text-align: start;
}
#section3 h2{
    margin-bottom: 2rem;
}
.similarones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 1rem;
}
.pandb{
   margin-bottom: 0.5rem;
   margin-top: 0.5rem;
   text-align: center;

} 
.sproducts{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 0.5rem;
}
.sbutton{
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    background-color:rgb(80, 217, 80);
}

